network :
{
  port = 8888;
};
robot :
{
  width = 1000;
  length = 700;
  buffer = 300;
};
control :
{
  image_process :
  {
    camera = "camera";
  };
  waypoint :
  {
    gps = "test_gps";
    index = 2;
    target = 2;
    regions = 2;
    gates = 1;
    fences = 0;
    region0 :
    {
        points = 5;
        point0 :
        {
        latitude = 4.308440e+01;
        longitude = -7.767700e+01;
        range = 5.000000e+00;
        };
        point1 :
        {
        latitude = 4.308410e+01;
        longitude = -7.767730e+01;
        range = 5.000000e+00;
        };
        point2 :
        {
        latitude = 4.308400e+01;
        longitude = -7.767700e+01;
        range = 5.000000e+00;
        };
        point3 :
        {
        latitude = 4.308440e+01;
        longitude = -7.767700e+01;
        range = 5.000000e+00;
        };
        point4 :
        {
        latitude = 4.308430e+01;
        longitude = -7.767750e+01;
        range = 5.000000e+00;
        };
    };

    region1 :
    {
        points=3;
        point0 :
        {
        latitude = 4.308430e+01;
        longitude = -7.767750e+01;
        range = 5.000000e+00;
        };
        point1 :
        {
        latitude = 4.308430e+01;
        longitude = -7.767750e+01;
        range = 5.000000e+00;
        };
        point2 :
        {
        latitude = 4.308430e+01;
        longitude = -7.767750e+01;
        range = 5.000000e+00;
        };
    };

    gate0:
    {
        border_regions = 2;
        region0 = "region0";
        region1 = "region1";
        point0 :
        {
        latitude = 4.308430e+01;
        longitude = -7.767750e+01;
        };
        point1 :
        {
        latitude = 4.308430e+01;
        longitude = -7.767750e+01;
        };
    };
  };
  joystick :
  {
    joystick = "remote_joystick";
    ai_button = 6;
    speed_button_1 = 0;
    speed_1 = 20;
    speed_button_2 = 1;
    speed_2 = 30;
    speed_button_3 = 2;
    speed_3 = 50;
    speed_button_4 = 3;
    speed_4 = 127;
    throttle_axis = 1;
    steering_axis = 0;
    deadman_switch = 7;
    straight_axis = 5;
    turn_axis = 4;
    stop_button = 4;
    warning_button = 5;
    turn_limit = 30;
  };
  obstacle_avoidance :
  {
    lidar = "lidar";
    offset = 500;
    limit = 5000;
    danger = 400;
    clear = 2000;
    throttle = 30;
  };
  pid :
  {
    motor = "phidget";
    motor_left = 0;
    motor_right = 1;
    compass = "compass";
    turn_limit = 15;
    p = 5.000000e-01;
    i = 0.000000e+00;
    d = 0.000000e+00;
    acceleration = 1.270000e-05;
    deceleration = 1.270000e-04;
  };
  parallel_port :
  {
    parallel_port = "parallel";
    warning_device = 0;
  };
  jaus :
  {
    jaus = "jaus";
  };
};
modules = [ "phidget", "gps", "test_gps", "lidar", "camera", "compass", "joystick", "jaus", "parallel", "remote_joystick", "usb_lidar" ];
module :
{
  phidget :
  {
    type = 11;
  };
  gps :
  {
    type = 20;
    host = "localhost";
    port = 2947;
  };
  test_gps :
  {
    type = 20;
    host = "gpsd.mainframe.cx";
    port = 2947;
  };
  usb_lidar :
  {
    type = 30;
    device = "/dev/ttyUSB0";
  };
  lidar :
  {
    type = 30;
    device = "/dev/ttyS0";
  };
  camera :
  {
    type = 40;
    camera = 0;
    process = true;
    gui = true;
    hough_threshold = 50;
    canny_low = 60;
    canny_high = 100;
    bilateral_iter = 2;
  };
  compass :
  {
    type = 50;
    device = "/dev/i2c-0";
  };
  joystick :
  {
    type = 60;
    device = "/dev/input/js0";
  };
  jaus :
  {
    type = 70;
    port = 3794;
  };
  parallel :
  {
    type = 80;
  };
  remote_joystick :
  {
    type = 60;
    remote = "joystick";
    host = "192.168.1.102";
    port = 8888;
    argument = 1;
    sleep = 5;
  };
};
